.box-title-style{
    background-color: #1C0C3F;
    border: solid 1px #42ce81;
    color: #7678b8;
}

.box-player-style{
    background-color: #1C0C3F;
    border: solid 1px #a682d9;
    color: #BFF205;
}

.box-player-style img{
    margin-right: 40px;
    margin-left: 40px;
}

.botao{
    margin-right: 20px;
}

.border-right{
    border-right: solid 1px #42ce81;
}

.border-left{
    border-left: solid 1px #42ce81;
}