/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: bebas neue;
    src: url(assets/BebasNeue-Regular.otf);
}

.default-style{
    background-image: linear-gradient(to right, #541C8C,#360259);
    /*background-color: #9993BF;*/
    font-family: bebas neue ;
    color: white;
}