/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: bebas neue;
    src: url(assets/BebasNeue-Regular.otf);
}

.default-style{
    background-image: linear-gradient(to right, #000238,#00046b);
    font-family: bebas neue ;
    color: white;
}