<body class="default-style">
    <app-nav-superior></app-nav-superior>
    <div class="container">
        <div class="row mt-5 mb-3 ">
            <h1 class="text-center titulo mb-5">Você pode ser um(a):</h1>
            <div class="col-md-6 border-right">
                <h2 class="text-center subtitulo mb-4">Jogador</h2>
                <div class="row mb-4">
                    <div class="col-md-6 text-color">
                        <p>Como jogador você pode encontrar quadras para se cadastrar e jogar.</p>
                        <p>Você pode práticar qualquer modalidade de esporte, contanto que exista uma quadra disponível cadastrada.</p>
                        <p>Jogadores se cadastram em quadras de maneira independente, então aproveite para conhecer pessoas novas antes ou depois de uma partida.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/football-player.png" width="310px" class="image-fluid">
                    </div>
                </div>   
            </div>

            <div class="col-md-6">
                <h2 class="text-center subtitulo mb-4">Mestre de Quadra</h2>
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/clerk.png" width="310px" class="image-fluid">
                    </div>
                    <div class="col-md-6 text-color">
                        <p>Como um mestre de quadra, você pode disponibilizar suas quadras para os jogadores.</p>
                        <p>Basta criar sua quadra, e adicionar horários e datas disponíveis para que os jogadores possam se increver.</p>
                        <p>Suas quadras são totalmente gerenciáveis e você pode edita-las no seu painel de controle a qualquer momento.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-5">
              <h1 class="titulo text-center mb-3">Agora Basta Se cadastrar e Começar!!</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-info mb-4">Cadastrar</button>
            </div>
        </div>
    </div>
    

</body>
