<footer class="footer-style page-footer pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex">
                <span class="mt-1">Desenvolvido com</span>
                 <img class="image-fluid rounded-circle" src="../../assets/angular icon.png" alt="">
                 <img class="image-fluid rounded-circle" src="../../assets/boostrap icon.png" alt="">
                 <img class="image-fluid rounded-circle" src="../../assets/java icon.png" alt="">
            </div>
        </div>
    </div>
</footer>