<body class="default-style">
    <app-nav-superior></app-nav-superior>
    <div class="container">
        <div class="row">
            <div class="col-md-2 align-self-center">
                <h2 class="text-center subtitulo">Github</h2>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <a href="https://github.com/LucasTrevizanbr" target="_blank"><img src="../../../assets/github.png" class="image-fluid rounded-circle" width="60px" ></a>     
                    </div>
                </div>
                <div class="row mt-2">
                    <span class="text-center subtitulo">Você pode ver meus repositórios no meu github</span>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <h1 class="text-center titulo">Sobre Mim</h1>
                <div class="row mb-4">
                    <div class="col-md-12 d-flex justify-content-center">
                        <img src="../../../assets/eu.jpg" width="180px" class="imagem image-fluid rounded-circle border">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p class="text-color">Meu nome é Lucas Trevizan e sou um programador autodidata, me apaixonei pela profissão e pelo poder de criar algo, então para por meus conhecimentos em práticas desenvolvi esse pequeno sistema web, afim de apenas práticar.</p>
                        <p class="text-color">Fiz tanto o backend como o front, se quiser checar o código completo junto a algumas pequenas "documentações" pode acessar o repositório do projeto <a href="https://github.com/LucasTrevizanbr/ShareFields" target="_blank">aqui</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 align-self-center">
                <h2 class="text-center subtitulo">Linkedin</h2>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/lucas-silva-trevizan-1191b51a7/" target="_blank"><img src="../../../assets/linkedin-logo.png" class="image-fluid rounded-circle" width="60px"></a>  
                    </div>
                </div>
                <div class="row mt-2">
                    <span class="text-center subtitulo">Você pode entrar em contato comigo pelo meu linkedin</span>
                </div>

            </div>
        </div>
    </div>
    
</body>
