<nav class="nav flex-column mt-5 mb-5 nav-style">
    <a class="navbar-brand" href="#">
        <img src="../../assets/homepage.png" width="30"  height="30">
        Página Inicial
    </a>
    <a class="navbar-brand" href="#">
        <img src="../../assets/magnifiying-glass.png" width="30" height="30" >
        Achar Quadras
    </a>
    <a class="navbar-brand" href="#">
        <img src="../../assets/info.png" width="30" height="30">
        Sobre
    </a>
    <a class="navbar-brand" href="#">
        <img src="../../assets/logout.png" width="30" height="30" alt="Página inicial">
        Sair
    </a>
</nav>
