<body class="default-style">
    <div class="container">
        <div class="row">
            <div class="col-md-3 align-self-start">
                <app-over-view-user></app-over-view-user>
            </div>

            <div class="col-md-8 side-border-right side-border-left">
                <div class="row mt-5">
                    <h3 class="text-center titulo">Inscrições de quadra</h3>
                </div>
                <div class="row mt-5 d-flex justify-content-center mb-5">
                    <div class="col-md-10">
                        <table class="table">
                            <thead class="thead-color" >
                              <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Início</th>
                                <th scope="col">Término</th>
                                <th scope="col" class="d-flex justify-content-end">Ações</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="trow-color" *ngFor="let item of usuario.usaQuadras" >
                                <th scope="row">{{ item.dataDisponivel }}</th>
                                <td>{{ item.horaInicio }}</td>
                                <td>{{ item.horaFim }}</td>
                                <td class="d-flex justify-content-end">
                                    <button class="btn btn-outline-danger botao" [routerLink]="['/sair-info-quadra', item.id]">Sair</button>
                                    <button class="btn btn-outline-info botao" [routerLink]="['/detalhe-quadra', item.quadra.id]">Ver quadra</button>
                                    <button class="btn btn-outline-warning" [routerLink]="['/detalhe-infoQuadra-visualizar', item.id]">Ver Horário</button>
                                </td>
                              </tr>
                            </tbody>
                       </table>
                    </div>
                </div>
                
            </div>

            <div class="col-md-1 align-self-start mt-4">
                <app-nav-lateral></app-nav-lateral>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row mt-3"></div>
    </div>
</body>

