<div class="card card-style mt-5 mb-5" style="width: 13rem;">
  <img class="card-img-top rounded-circle" [src]="avatar">
  <div class="card-body">
    <h5 class="card-title text-center">{{ apelido }}</h5>
    <p class="card-text text-center">{{ resultado }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><img class="image-fluid rounded-circle" width="40px" src="../../assets/management.png" alt="">Configurar</li>
    <li class="list-group-item" routerLink='{{ rotaPainelControle }}'><img class="image-fluid" width="40px" src="../../../assets/football-field.png" >Gerenciar</li>
  </ul>
</div>

