<body class="default-style">
    <div class="container">
        <div class="row d-flex justify-content-center mb-4">
            <div class="col-md-4">
                <h1 class="text-center mt-5">Login</h1>
                <div class="login-form">
                    <form>
                        <div class="form-group text-center">
                          <label for="exampleInputEmail1" class="mb-1" >Endereço de email</label>
                          <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Digite seu email">
                        </div>
                        <div class="form-group text-center">
                          <label for="exampleInputPassword1" class="mb-1 mt-2">Senha</label>
                          <input type="password" class="form-control" placeholder="Senha">
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Logar</button>
                      </form>
                </div>   
            </div>   
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 text-center">
               <span>Não é cadastrado ainda? <a href="">cadastra-se</a> </span>
            </div>
        </div>
    </div>
</body>

