<body class="default-style">
    <app-nav-superior></app-nav-superior>
    <div class="container">
        <div class="row">
          <div class="col-md-2 align-self-start">
            <img src="../../assets/basketball-ball-variant.png" width="150px" height="150px" class="image-fluid mt-3">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 mt-5 mb-5">
                <h1 class="text-center">Cadastre-se!</h1>
                <form class="form-style">
                    <div class="form-group row">
                      <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputNome" placeholder="Digite seu nome">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputApelido" class="col-sm-2 col-form-label">Apelido</label>
                      <div class="col-sm-10">
                        <input type="apelido" class="form-control" id="inputApelido" placeholder="Digite seu apelido">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUrlImage" class="col-sm-2 col-form-label">Avatar</label>
                        <div class="col-sm-10">
                          <input type="UrlImage" class="form-control" id="inputUrlImage" placeholder="URL da sua imagem de perfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSenha" class="col-sm-2 col-form-label">Senha</label>
                        <div class="col-sm-10">
                          <input type="Senha" class="form-control" id="inputSenha" placeholder="Digite sua senha">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputConfirmaSenha" class="col-sm-2 col-form-label">Confirme</label>
                        <div class="col-sm-10">
                          <input type="ConfirmaSenha" class="form-control" id="inputConfirmaSenha" placeholder="Digite sua senha novamente">
                        </div>
                    </div>
                    <fieldset class="form-group">
                      <div class="row">
                        <div class="col-sm-10">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="opcao1" checked>
                            <label class="form-check-label" for="gridRadios1">
                              Jogador
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="opcao2">
                            <label class="form-check-label" for="gridRadios2">
                              Mestre de quadra
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn">Cadastrar</button>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 align-self-center">
              <img src="../../assets/football-ball.png" width="150px" height="150px" class="image-fluid">
            </div>  
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Ja é cadastrado? <a href="">faça login</a></p>
          </div>
        </div>
    </div>
</body>
