.login-form{
    border: solid 8px #42ce81;
    padding: 50px;
    border-radius: 50%;
    background-color: #1C0C3F;
}

.login-form label{
    
    color: #7678b8 ;
}

.login-form button{
    border-radius: 20%;
}

h1{
    color: #7678b8;
}

