.footer-style{
    border-top: solid 2px #7678b8;
    border-bottom: solid 2px #7678b8 ;
    background-color:#1C0C3F ;
    font-family: bebas neue ;
    color: #42ce81;
}

.footer-style img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

